@model IEnumerable<EmployeeView>
@{
    Layout = "_Layout";
    ViewBag.Title = "Index";

}
<p><tt>Олег, где макет? Игорь.</tt><br></p>
<table>
    @foreach (var person in Model)
    {
        <tr>
            <td><tt>@person.Id</tt></td>
            <td><tt>@person.FirstName </tt></td>
            <td><tt>@person.SurName</tt></td>
            <td><tt>@person.Patronymic</tt></td>
            <td><tt>@Html.ActionLink("Детали", "Details", new { id = person.Id })</tt></td>
            <td>
                <a asp-action="Details" asp-route-id="@person.Id"> Детали(Tag - helper)</a>
            <td>
        </tr>
    }
</table><br>

